.welcome{
    padding: 100px 0;
    background: rgb(0,0,46);
    background: linear-gradient(0deg, rgba(0,0,46,1) 0%, rgba(3,0,23,1) 100%); 
}
.welcome__image{
    & img{
        width: 500px;
    }
}
.welcome__text{
    width: 500px;
}


.welcome__btn{
    font-family: var(--font);
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #000;
    background-color: #ffff04;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #0056b3;
    }
    &:active {
        background-color: #004080;
    }
}


@media screen and (max-width: 1050px) {
    .welcome__container{
        flex-direction: column-reverse;
    }
    .welcome__text .pre__title, h2{
        text-align: center;
        margin: 0 15px;
    }
}

@media screen and (max-width: 650px) {
    .welcome__container{
        width: 100%;
        margin: 0 15px;
    }
    .welcome__image{
        & img{
            width: 100%;
            margin: 0 15px; 
        }
    }
    .welcome__text{
        width: 100%;
        margin: 0 15px;
    }
}