.container__meta{
    margin-top: 100px;
    
}
.overlay__meta{
    backdrop-filter: blur(10px);
    padding: 50px 15px;
    width: 500px;
}
.connect__meta{
    margin-top: 70px;
}
.container__meta-img{
    width: 250px;
    & img{
        width: 100%;
    }
}