.donate-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.donate-page{
    cursor: pointer;
    margin: 0 10px;
    text-align: center;
    width: 400px;
    height: 500px;
    & img {
        width: 100%;
    }

    &:hover{
        opacity: 0.8;
    }

    & span{
        font-size: 18px;
        padding-top: 20px;
    }
}