.numbers__container{
    padding: 100px 0;
    background: url('../../../constants/images/1.jpg'); 
    margin: 10px 40px;
    background-attachment: fixed;
}
.numbers__container h2{
    color: var(--color-white);
}
.counter-item {
    margin-top: 100px;
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-white);
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 950px) {
    .numbers__counter{
        flex-direction: column;
    }
}